# Images (Allowed globally, use specific ignores if needed)
# *.jpg
# *.jpeg
# *.png
# *.bmp


# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store

# Debug/Temp
debug_*
output_viz.jpg

# Large Data/Models
*.zip
*.pt
*.bin
*.onnx
data/

# Ignore models contents usually
models/*
!models/patchcore448_v2/

# Whitelist required file types for this model
!models/patchcore448_v2/*.bin
!models/patchcore448_v2/*.onnx
