[Desktop Entry]
Type=Application
Name=System Inspection Litography
Comment=Visual Inspection System for Cans
Exec=/home/cunhav/projects/InspectionVisionCamera/run_app.sh
Icon=/home/cunhav/projects/InspectionVisionCamera/icon.png
Terminal=false
Categories=Utility;Engineering;
StartupWMClass=SIL
